@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

/* Raleway and sans-serif is the font that will be used to all elements */
* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #f9faf8;
    margin: 0;
    margin-top: -20px;
    padding: 0;
}


/* Header styles */
.header {
    background-color: #1f2937;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    padding-right: 180px;
    padding-left: 200px;
    align-items: center;
    flex-wrap: wrap;
}



h2 {
    color: #f9faf8;
    font-size: 35px;
}


/* Styles for the Header links */
a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 30px;
}


/* Styles for the hero section */
.hero-section {
    background-color: #1f2937;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    max-width: 320px;
    padding-left: 200px;
}

.hero-p {
    color: #f9faf8;
    max-width: 380px;
    padding-left: 200px;
}

.hero-button {
    background-color: #3882f6;
    border: none;
    border-radius: 12px;
    color: #f9faf8;
    font-size: 17px;
    font-weight: bolder;
    margin-left: 200px;
    padding: 12px;
    width: 125px; 
}

.gym-bro {
   margin-right: 180px;
}


/* Styles for the random section */
.random {
    background-color: #f9faf8;
    padding-bottom: 50px;
}

.information {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.foods {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}



.meal{
    height: 250px;
    width: 250px; 
}


.text {
    color: #828a93;
    font-weight: bold;
    max-width: 150px;
    text-align: center;
    margin-left: 50px;
}


/* Styles for the quote section */
.quote-section {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    max-width: 850px;
}

.thor {
    margin-left: 570px;
    font-weight: bolder;
}


/* Styles for the sign section */
.sign-section {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.product {
    background-color: #3882f6;
    border-radius: 12px;
    padding: 50px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.call-to-action {
    color: #f9faf8;
    font-weight: bolder; 
}

.redirect {
    color: #f9faf8;
    font-weight: 500;
}

.sign-button {
    background-color: #3882f6;
    border: solid 2px #f9faf8;
    border-radius: 12px;
    color: #f9faf8;
    font-size: 17px;
    font-weight: bolder;
    width: 125px;
    padding: 12px;
}


/* Footer styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 40px;
}