@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    margin-top: -20px;
    background-color: #f9faf8;
  }


.header {
    background-color: #1f2937;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    padding-right: 180px;
    padding-left: 200px;
    align-items: center;
    flex-wrap: wrap;
}



h2 {
    color: #f9faf8;
    font-size: 35px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 30px;
}

.hero-section {
    background-color: #1f2937;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    max-width: 320px;
    padding-left: 200px;
}

.hero-p {
    color: #f9faf8;
    padding-left: 200px;
    max-width: 380px;
}

.hero-button {
    background-color: #3882f6;
    border: none;
    border-radius: 12px;
    color: #f9faf8;
    font-size: 17px;
    font-weight: bolder;
    padding: 12px;
    width: 125px;
    margin-left: 200px;
}

.gym-bro {
   margin-right: 180px;
   
}


.random {
    background-color: #f9faf8;
    padding-bottom: 50px;
}

.information {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}




.foods {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}



.meal{
    height: 250px;
    width: 250px;
}


.text {
    color: #828a93;
    font-weight: bold;
    max-width: 150px;
    text-align: center;
    margin-left: 50px;
}



.quote-section {
    background-color: #e5e7eb;
}

.quote{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}



footer {
    background-color: #1f2937;
    color: #f9faf8;
    
}